In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# syle et context taille de la police
sns.set_theme(style="whitegrid", context="notebook")
# 11x6 → bon ratio pour affichage écran / 16:9, meilleure lisibilité
plt.rcParams["figure.figsize"] = (11, 6)

# Liens de ces fichiers pour analyse
candidates = [
    '../data/robots_missions.csv',
]

In [13]:
# DataFrame
robots = pd.read_csv(candidates[0])

robots.info()

<class 'pandas.DataFrame'>
RangeIndex: 5409 entries, 0 to 5408
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   timestamp           5409 non-null   str
 1   robot_id            5409 non-null   str
 2   robot_type          5409 non-null   str
 3   zone                5409 non-null   str
 4   task_type           5409 non-null   str
 5   mission_duration_s  5409 non-null   int64
 6   downtime_s          5409 non-null   int64
 7   battery_pct         5409 non-null   float64
 8   speed_mps           5409 non-null   float64
 9   temperature_c       5409 non-null   float64
 10  error_code          247 non-null    str
 11  mission_status      5409 non-null   str
 12  incident_label      5409 non-null   int64
dtypes: float64(3), int64(3), str(7)
memory usage: 549.5 KB

In [14]:
robots.head()

,timestamp,robot_id,robot_type,zone,task_type,mission_duration_s,downtime_s,battery_pct,speed_mps,temperature_c,error_code,mission_status,incident_label
0,2026-02-02 08:00:00,R01,picker,C1,replenish,174,18,94.46,1.081,25.06,NaN,completed,0
1,2026-02-02 08:00:00,R09,forklift,A1,inventory_scan,179,19,93.04,1.197,22.87,NaN,completed,0
2,2026-02-02 08:10:00,R03,picker,C3,transport,219,13,90.91,1.257,25.00,NaN,completed,0
3,2026-02-02 08:10:00,R01,picker,D1,inventory_scan,242,27,98.40,1.537,25.04,NaN,completed,0
4,2026-02-02 08:20:00,R10,carrier,B2,pick,187,31,98.21,1.082,22.39,NaN,completed,0

In [15]:
robots["timestamp"] = pd.to_datetime(robots["timestamp"], errors="coerce")

In [16]:
robots.info()

<class 'pandas.DataFrame'>
RangeIndex: 5409 entries, 0 to 5408
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   timestamp           5409 non-null   datetime64[us]
 1   robot_id            5409 non-null   str
 2   robot_type          5409 non-null   str
 3   zone                5409 non-null   str
 4   task_type           5409 non-null   str
 5   mission_duration_s  5409 non-null   int64
 6   downtime_s          5409 non-null   int64
 7   battery_pct         5409 non-null   float64
 8   speed_mps           5409 non-null   float64
 9   temperature_c       5409 non-null   float64
 10  error_code          247 non-null    str
 11  mission_status      5409 non-null   str
 12  incident_label      5409 non-null   int64
dtypes: datetime64[us](1), float64(3), int64(3), str(6)
memory usage: 549.5 KB

In [21]:
if robots["timestamp"].isna().sum() > 0 : print("error Nat sur timestamp")
else : print("aucune erreur")

aucune erreur

In [25]:
df = pd.DataFrame({
    "timestamp": ["2025-01-01", "invalid_date"]
})

df["timestamp"] = pd.to_datetime(df["timestamp"], errors="coerce")

print(df)

   timestamp
0 2025-01-01
1        NaT